<footer class="footer_area">
      <div class="container">
        <div class="row footer_bottom">
          <p class="col-lg-8 col-sm-12 footer-text ">
            Made with &#128151 by ARBAZ KHAN
          </p>
        </div>
      </div>
    </footer>